<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="../static/favicon.ico">
  <title>To be dry</title>
  <meta name="description" content="Telegram bot">
  <meta name="keywords" content="tobedrybot">
  <meta name="author" content="SerbulEvhenii">
  <!-- CSS dependencies -->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">-->
  <link rel="stylesheet" href="../static/wireframe.css">
</head>

<body class="text-center bg-dark">
  <div class="p-3 h-100 d-flex flex-column">
    <div class="container mb-auto text-light"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img class="img-fluid d-block rounded mx-auto" src="../static/tobedry_logo.jpg"></div>
      </div>
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h1 class="cover-heading"><b>Telegram bot</b></h1>
          <p class="lead">Your everyday weather assistant @tobedrybot</p>
          <a href="https://t.me/toBeDryBot?start" class="btn btn-lg btn-light"><b class="">Start</b></a>
        </div>
      </div>
    </div>
    <div class="container mt-auto">
      <div class="row">
        <div class="col-md-12">
          <a href="https://www.facebook.com/serbulevhenii">by Serbul Evhenii</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>